@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
}
.fs-7{
  font-size: .9rem;
}
.fs-8{
  font-size: .8rem;
}
.fs-9{
  font-size: .7rem;
}

.header-logo{
  height: 75px;
}

/*** CARDS ***/
.shop-card{
  background: #f1f1f1;
  padding: 20px;
  text-transform: uppercase;
}
.shop-card h1{
  font-size: 22px;
  margin-bottom: 4px;
}
.shop-card p{
  font-size: .75rem;
  color: #979797;
}
.shop-pic{
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  transition: .6s linear;
  object-fit: cover;
}
.shop-colors{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.shop-colors span{
  width: 14px;
  height: 14px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.blue{
  background: #7ed6df;
}
.green{
  background: #badc58;
}
.yellow{
  background: #f9ca24;
}
.rose{
  background: #ff7979;
}

.shop-colors .active:after{
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #8888;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -4px;
  top: -4px;
}
.shop-info{
  display: flex;
  align-items: center;
}
.shop-price{
  color: #aaaaaa;
  font-size: 26px;
}
.shop-button, .product-extra button{
  margin-left: auto;
  color: #7ed6df;
  text-decoration: none;
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 20px;
  transition: .4s linear;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-button:hover, .product-extra button:hover{
  color:white;
  background:#7ed6df;
}
.cartAmount{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -5px;
  right: -15px;
  background:rgba(216, 216, 216, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  color:white;
}

.shopCounter{
  font-size: 1.25rem;
  background:rgba(207, 136, 78, 0.1);
  padding:5px;
  color:#699ca1;
}
.btnCount{
  border:none;
  background: transparent;
  color:#699ca1;
}

.detail-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-extra{
  list-style: none;
  padding-left: 0;
}
.product-extra li{
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .5rem;
}